/*---///---///---///---///---///---///---///---///---///---
    11. NEWSLETTER CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-newsletter-sec {
    padding: 80px 0;
    background: url(https://images.marketleader.com/houseimages/SCRANTON/506/f_19-4506.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
}

.at-newsletter-sec h2 {
    color: #ffffff;
    font-size: 42px;
}

.at-newsletter-sec h2 span {
    color: #D46A21;
}

.at-newsletter-sec p {
    color: #ffffff;
    margin-bottom: 30px;
}

.at-newsletter-sec .form-group {
    width: 100%;
}

.at-newsletter-sec .form-control {
    background: none;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-style: italic;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.4);
    min-height: 50px;
}

.at-newsletter-sec .at-sub-btn {
    font-size: 18px;
    background: #D46A21;
    color: #ffffff;
    border: none;
    height: 50px;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-newsletter-sec .at-sub-btn a {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    color: #ffffff;
    line-height: 24px;
}


/*---///---///---///---///---///---///---///---///---///---
    06. ABOUT CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-about-sec {
    padding: 100px 0 0;
    overflow: hidden;
}

.at-about-title {
    border-left: 2px solid #D46A21;
    padding-left: 20px;
    margin-bottom: 30px;
}

.at-about-col .at-about-title h1 {
    font-size: 46px;
}

.at-about-col .at-about-title h1 span {
    color: #D46A21;
}

.at-about-col .at-about-title h6 {
    color: #D46A21;
    letter-spacing: 8px;
}


/*****About two*****/

.at-about-sec-two {
    padding: 100px 0 70px;
}

.at-agents-sec {
    padding: 100px 0 70px;
    background: #f2f2f2;
}

.at-agent-col {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.at-agent-img {
    position: relative;
    overflow: hidden;
}

.at-agent-info {
    padding: 20px 30px;
    /* background: url(../images/background/pattern.png); */
    background-repeat: repeat;
    background-color: rgb(255, 255, 255);
}

.at-agent-info h4 a {
    color: #D46A21;
    margin-bottom: 0;
}

.at-agent-info p {
    color: rgb(17, 17, 17);
    text-transform: capitalize;
    line-height: 16px;
}

.at-agent-social {
    background: rgba(255, 255, 255, 0.85);
    padding: 10px;
    width: 80%;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -40%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.at-agent-col:hover .at-agent-social {
    bottom: 0;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.at-agent-social a i {
    color: #1B6775;
    margin-right: 5px;
    margin-left: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.at-agent-social a i:hover {
    color: #D46A21;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.at-agent-social .at-agent-call p {
    color: #D46A21;
}

.slick-slide {
    outline: none;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-prev:before,
.slick-next:before {
    color: #D46A21;
}


/* Agents two start */

.at-agents-sec-two {
    background: url(../images/background/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.at-agents-sec-two .at-sec-title h2,
.at-agents-sec-two .at-sec-title p {
    color: #ffffff;
}


/* Agents Three start*/

.at-agents-sec-three {
    background: none;
}


/********** Agents Detais css start **********/

.at-agents-details-sec {
    padding: 100px 0 70px;
}

.at-singel-agent {
    border: 3px solid #D46A21;
}

.at-agents-details-col p {
    margin-bottom: 10px;
}

.at-agent-socil-contact {
    margin-bottom: 10px;
}

.at-agent-socil-contact a i {
    color: #1B6775;
    margin-right: 10px;
}

.at-agent-socil-contact a i:hover {
    color: #D46A21;
}

.at-start {
    margin-bottom: 20px;
}

.at-start i {
    font-size: 30px;
    color: #D46A21;
}

.at-agents-details-sec h3 {
    font-size: 18px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    display: inline-block;
    margin-top: 50px;
}


/*---///---///---///---///---///---///---///---///---///---
    04. MAIN SLIDER CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-main-slider {
    width: 100%;
    overflow-x: hidden;
}

.flexslider {
    border: none;
    margin-bottom: 0;
}

.flexslider .slides li {
    position: relative;
}

.flex-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(27, 103, 117, 0.9);
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 2%;
}

.flex-caption span {
    color: #D46A21;
    font-size: 50px;
}

.flex-direction-nav a:before {
    content: "\f0a8";
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 30px;
}

.flex-direction-nav a.flex-next:before {
    content: "\f0a9";
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 30px;
}

.flex-control-thumbs li {
    width: 20%;
}


/* Main Slider Two CSS */

.main-slider-section {}

.slide {
    list-style-type: none;
    padding: 0;
}

.slide-item {
    height: 90vh;
}

.slide-item:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background: rgba(5, 5, 5, 0.4);
}

.slide-item-bg-one {
    background: url(https://images.pexels.com/photos/3623785/pexels-photo-3623785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.slide-item-bg-two {
    background: url(https://images.pexels.com/photos/164522/pexels-photo-164522.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.slide-item-bg-three {
    background: url(https://images.pexels.com/photos/534151/pexels-photo-534151.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.slide-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.slide-caption-title {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: normal;
}

.slide-caption-title span {
    color: #D46A21;
}

.slide-caption-desc {
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.slide-caption .btn {
    border-radius: 0;
    border: 2px solid #D46A21;
    color: #ffffff;
    background: #D46A21;
    padding: 10px 25px;
    text-transform: uppercase;
}

.slide-caption .btn:hover {
    color: #ffffff;
    border-color: #ffffff;
    background: transparent;
}

.owl-item.active .slide-caption-desc {
    animation: 1s 1s fadeInRight both;
}

.owl-item.active .slide-caption-title {
    animation: 1s 1.5s fadeInLeft both;
}

.owl-item.active .btn {
    animation: 1s 2.5s fadeInUp both;
}

.main-search-field-two {
    padding: 150px 0;
    background: url(https://images.pexels.com/photos/534151/pexels-photo-534151.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-search-field-two.at-over-layer-black:before {
    background-color: rgb(0, 0, 0, 0.2);
}

.main-search-field-two h1 {
    color: #ffffff;
    font-size: 42px;
    height: 70px;
    margin-bottom: 0;
}

.main-search-field-two .at-search-box {
    background-color: rgb(27, 103, 117, 0.8);
    padding: 30px 30px 0 30px;
}

.main-search-field-two .at-word-color {
    color: #D46A21;
}

.active-color {
    color: #D46A21 !important;
}

.main-search-field-two label {
    color: #ffffff;
}

.main-search-field-two .at-input-price {}

.main-search-field-two ::-webkit-input-placeholder {
    color: #9e9e9e !important;
}

.main-search-field-two ::-moz-placeholder {
    color: #9e9e9e !important;
}

.main-search-field-two :-ms-input-placeholder {
    color: #9e9e9e !important;
}

.main-search-field-two input:-moz-placeholder {
    color: #9e9e9e !important;
}

.main-slider-section .owl-prev {
    position: absolute;
    top: 45%;
    left: 0;
    font-size: 25px;
    background: #551FC0;
    padding: 0 5px;
    color: #ffffff;
    border-radius: 0;
}

.main-slider-section .owl-next {
    position: absolute;
    top: 45%;
    right: 0;
    font-size: 25px;
    background: #551FC0;
    padding: 0 5px;
    color: #ffffff;
    border-radius: 0;
}

.main-slider-section .owl-theme .owl-nav [class*='owl-'] {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 20px;
    border-radius: 0;
    margin: 0;
    padding: 10px 12px;
}

.main-search-field {
    padding: 50px 0 20px;
    /* background: url(https://images.pexels.com/photos/534151/pexels-photo-534151.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
    background-repeat: repeat;
    background-color: #1B6775;
}

.main-search-field.mt10 {
    margin-top: -10px;
}

.main-search-field select {
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
    border-radius: 0;
    background: transparent;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

select:focus {
    outline: none;
}

option {
    background: rgb(255, 255, 255);
}

.main-search-field select:focus {
    background: transparent;
}

.at-input {
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
    border-radius: 0;
    background: transparent;
}

.at-input:focus {
    outline: none;
}

.main-search-field .at-input-price {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #D46A21;
    height: 25px;
    width: 180px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-radius: 0;
}

.ui-widget.ui-widget-content {
    border: none;
    height: 5px;
    margin-top: 5px;
}

.ui-widget-header {
    background-color: #D46A21;
}

.ui-slider .ui-slider-handle {
    height: 12px;
    width: 16px;
    margin-left: 0;
}

.main-search-field .hvr-bounce-to-right {
    width: 100%;
}

.hide {
    display: none;
}

.at-pricing-range label {
    color: #ffffff;
}