@charset "utf-8";

/* CSS Document 
Project Name: Homy - Real Estate html Template     
Version:  1.5   
Author Name: Awesome_Theme

---///---///--- TABLE OF CONTENT ---///---///---

01. IMPORTED STYLE CSS
02. GENERAL CSS
        * FORM COMMON CSS
        * TITLE CSS
        * FORM COMMON CSS
        * BTN CSS
        * BACKGROUND OVER LAYER
        * scrollup css
        * Preloader css
        * featherlight css
        * pagination
03. MAIN HEADER CSS
04. MAIN SLIDER CSS
05. MAIN SEARCH CSS
        * main search two
06. ABOUT CSS
07. Call CSS
07. PROPERTY CSS
        * Property right sidebar
        * Property Details
09. AGENTS CSS
        * Agents two
        * Agents Three
        * Agents Detais css
10. BLOG CSS
        * Blog details css
11. NEWSLETTER CSS
12. BRAND CSS
13. INNER HEADING CSS
14. PLAN CSS
15. TESTIMONIAL CSS
16. SERVICE CSS
17. ACCOUNT CSS
18. FAQ CSS
19. ERROR CSS
20. CONTACT CSS
21. MAIN FOOTER CSS
        * COPY RIGHT CSS
*/


/*---///---///---///---///---///---///---///---///---///---
    01. IMPORTED STYLE CSS
---///---///---///---///---///---///---///---///---///---*/


/* GOOGLE FONTs */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,600i,700,700i');

/*---///---///---///---///---///---///---///---///---///---
    02. GENERAL CSS 
---///---///---///---///---///---///---///---///---///---*/

@media (min-width: 1200px) {
    .container {
        max-width: 1170px !important;
    }
}

body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #676767;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    /* text-transform: uppercase; */
}

h4 {
    font-size: 18px;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:focus,
a:hover {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* COMMON CSS */

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.at-col-default-mar {
    margin-bottom: 30px;
}

.at-color-word {
    color: #D46A21;
}


/* TITLE CSS START */

.at-sec-title {
    margin-bottom: 60px;
    text-align: center;
}

.at-sec-title {
    font-size: 36px;
    margin-bottom: 60px;
}

.at-sec-title h2 {
    font-size: 36px;
}

.at-sec-title h2 span {
    color: #D46A21;
}

.at-sec-title p {
    color: #1B6775;
    font-size: 14px;
}

.at-heading-under-line {
    width: 100px;
    height: 1px;
    background: #D46A21;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

.at-heading-under-line .at-heading-inside-line {
    width: 30px;
    height: 5px;
    background: #D46A21;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -15px;
}

.at-sec-title-left {
    text-align: left;
}

.at-sec-title-left .at-heading-under-line {
    margin: 0;
    margin-bottom: 20px;
}

.at-sec-title-left .at-heading-under-line .at-heading-inside-line {
    margin-left: 0;
    left: 0;
}


/* FORM COMMON CSS START */

.form-control {
    resize: none;
    height: 40px;
    margin-bottom: 30px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.form-control:focus {
    border-color: #D46A21;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

::-webkit-input-placeholder {
    color: #676767 !important;
}

::-moz-placeholder {
    color: #676767 !important;
}

:-ms-input-placeholder {
    color: #676767 !important;
}

input:-moz-placeholder {
    color: #676767 !important;
}

.at-input::-webkit-input-placeholder {
    color: #c5c5c5 !important;
}

.at-input::-moz-placeholder {
    color: #c5c5c5 !important;
}

.at-input:-ms-input-placeholder {
    color: #c5c5c5 !important;
}

.at-input:-moz-placeholder {
    color: #c5c5c5 !important;
}


/* BTN CSS START*/

.at-btn-default {
    font-size: 18px;
    background: white;
    color: #D46A21;
    border: none;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hvr-bounce-to-right {
    font-size: 14px;
    background: #D46A21;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    padding: 12px 22px;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hvr-bounce-to-right:hover {
    background: #D46A21;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hvr-bounce-to-right:before {
    background-color: #bf864f;
}


/* BACKGROUND OVER LAYER START */

.at-over-layer-black {
    position: relative;
}

.at-over-layer-black:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(27, 103, 117, 0.9);
}

.at-over-layer-white {
    position: relative;
}

.at-over-layer-white:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.8);
}


/* scrollup css start */

#dyscrollup-btn {
    z-index: 999999;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #ffffff;
    text-align: center;
}

#dyscrollup-btn:before {
    content: "\f106";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #D46A21;
    color: #ffffff;
    font-size: 36px;
    padding: 5px 10px 10px;
}


/* Preloader css start */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #ffffff url('../images/p3.gif') no-repeat center center;
}


/* featherlight css start */

.featherlight .featherlight-content {
    padding: 10px;
    border-bottom: none;
}

.featherlight-next span {
    right: -2%;
}

.featherlight-previous {
    right: 88%;
    top: 10px;
    left: 10px;
    bottom: 10px;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.featherlight-next {
    left: 88%;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.featherlight-next:hover,
.featherlight-previous:hover {
    background: rgb(27, 103, 117, 0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.featherlight-next span,
.featherlight-previous span {
    font-size: 30px;
    color: #ffffff;
    text-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.featherlight .featherlight-close-icon {
    background: #1B6775;
    color: #ffffff;
    right: 20px;
    top: 20px;
    font-size: 16px;
    border: 1px solid #ffffff;
    padding: 0 5px;
}


/* pagination start*/

.at-pagination {
    text-align: center;
}

.at-pagination .pagination>li:first-child>a,
.at-pagination .pagination>li:last-child>a,
.at-pagination .pagination>li:first-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.at-pagination .pagination>li>a,
.at-pagination .pagination>li>span {
    background-color: #D46A21;
    color: #ffffff;
}

.at-pagination .pagination>li>a:hover,
.at-pagination .pagination>li>span:hover {
    background-color: #1B6775;
    color: #ffffff;
}


/*---///---///---///---///---///---///---///---///---///---
    03. MAIN HEADER CSS 
---///---///---///---///---///---///---///---///---///---*/

.at-main-herader {}


/* Header topbar start */

.at-header-topbar {
    background-color: #1B6775;
    padding: 10px 0;
}

.at-header-topbar i {
    color: rgb(248, 248, 248);
    margin-right: 5px;
}

.at-header-topbar p {
    color: #dcdcdc;
}

.at-header-topbar p a {
    color: #dcdcdc;
}

.at-sign-in-up {
    text-align: right;
}

.at-sign-in-up p {
    margin-right: 15px;
    display: inline-block;
}

.at-social a i {
    color: #dcdcdc;
    margin-right: 0;
    margin-left: 15px;
    width: 20px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #dcdcdc;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-social a i:hover {
    color: #D46A21;
    border-color: #D46A21;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* Main Nav CSS Start */

.header-navbar {}

.main-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main-logo img {
    width: 100px;
    height: 60px;
}

.logo-white {
    display: block;
}

.logo-black {
    display: none;
}

.header-area.fixed-header .logo-white {
    display: none;
}

.header-area.fixed-header .logo-black {
    display: block;
}

.stellarnav ul {
    text-align: right;
}

.stellarnav>ul>li {
    margin-left: 30px;
}

.stellarnav>ul>li>a {
    font-size: 14px;
    color: #1B6775 !important;
    text-transform: uppercase;
    font-weight: 600;
    padding: 25px 0;
}

.stellarnav>ul>li>a:hover {
    color: #D46A21!important;
}

.stellarnav>ul>li:last-child a {}

.stellarnav.light {
    background: transparent;
}

.stellarnav>ul>li.active>a {}

.stellarnav ul ul {
    min-width: 250px;
    background: #D46A21;
    border: none;
    margin-left: 2px;
    padding: 0;
    -webkit-box-shadow: 0px 0px -2px rgba(128, 128, 128, 1);
    -moz-box-shadow: 0px 0px -2px rgba(128, 128, 128, 1);
    box-shadow: 0px 0px -2px rgba(128, 128, 128, 1);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.stellarnav ul li ul li a {
    font-size: 14px;
    color: #1B6775;
    text-transform: uppercase;
    font-weight: 600;
    padding: 16px 15px;
    border-top: 1px solid #eeeeee;
    background: #ffffff;
}

.stellarnav ul li ul li a:hover {
    background-color: #f2f2f2;
    color: #D46A21;
    padding-left: 20px;
}

.stellarnav ul li ul li:last-child a {
    border-bottom: none;
}

.stellarnav.light a,
.stellarnav.light li a {
    color: #1B6775;
}

.stellarnav ul ul ul {
    top: 30px;
    right: 220px;
    left: auto;
}


/* Navbar Fixed CSS start */

.scroll-to-fixed-fixed {
    background: #ffffff;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}


/* Header Transparent CSS */

.herader-transparent {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: transparent;
}

.herader-transparent .navbar-default .navbar-nav>.open>a,
.herader-transparent .navbar-default .navbar-nav>pen>a:focus,
.o .herader-transparent .navbar-default .navbar-nav>.open>a:hover {
    color: #ffffff !important;
}

.herader-transparent .at-navbar {
    background: transparent;
}

.herader-transparent .at-navbar .navbar {
    background: transparent;
}

.herader-transparent .at-header-topbar {
    background-color: rgba(17, 17, 17, 0.3);
}

.herader-transparent .at-navbar .navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.herader-transparent .scroll-to-fixed-fixed .navbar-default .navbar-nav>li>a {
    color: #1B6775;
}

.herader-transparent .scroll-to-fixed-fixed {
    background: #ffffff;
}

.logo-black {
    display: none;
}

.scroll-to-fixed-fixed .logo-black {
    display: block;
}

.scroll-to-fixed-fixed .logo-white {
    display: none;
}

.herader-transparent .scroll-to-fixed-fixed .navbar-default .navbar-nav>.open>a,
.herader-transparent .scroll-to-fixed-fixed .navbar-default .navbar-nav>pen>a:focus,
.o .herader-transparent .scroll-to-fixed-fixed .navbar-default .navbar-nav>.open>a:hover {
    color: #1B6775 !important;
}


/*---///---///---///---///---///---///---///---///---///---
    05. MAIN SEARCH CSS START
---///---///---///---///---///---///---///---///---///---*/


/* main search two start */

.main-search-field-two {
    padding: 150px 0;
    background: url(https://images.pexels.com/photos/534151/pexels-photo-534151.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-search-field-two.at-over-layer-black:before {
    background-color: rgb(0, 0, 0, 0.5);
}

.main-search-field-two h1 {
    color: #ffffff;
    font-size: 42px;
    height: 70px;
    margin-bottom: 0;
}

.main-search-field-two .at-search-box {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 30px 30px 0 30px;
}

.main-search-field-two .at-word-color {
    color: #D46A21;
}

.main-search-field-two label {
    color: #ffffff;
}

.main-search-field-two .at-input-price {}

.main-search-field-two ::-webkit-input-placeholder {
    color: #9e9e9e !important;
}

.main-search-field-two ::-moz-placeholder {
    color: #9e9e9e !important;
}

.main-search-field-two :-ms-input-placeholder {
    color: #9e9e9e !important;
}

.main-search-field-two input:-moz-placeholder {
    color: #9e9e9e !important;
}


/* main search two three CSS Start */

.main-search-field-three {
    width: 100%;
    height: 100vh;
    padding: 250px 0 50px;
}


/*---///---///---///---///---///---///---///---///---///---
    07. Call CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-Call-sec {
    background: url(../images/background/1.jpg);
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: -1px;
}

.at-Call-sec.at-over-layer-black:before {
    z-index: -1;
}

.at-Call-left {
    float: left;
    width: 50%;
    margin-left: -5%;
    background: #D46A21;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    overflow: hidden;
    border-right: 10px solid #ffffff;
}

.at-inside-Call {
    padding: 100px 80px 100px 170px;
    text-align: right;
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
}

.at-inside-Call h5 {
    color: #1B6775;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 8px;
}

.at-inside-Call h2 {
    color: #ffffff;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-size: 26px;
}

.at-Call-right {
    text-align: right;
}

.at-Call-right {
    padding: 80px 0 30px 70px;
    padding-right: 20%;
}

.at-Call-right-inside {
    padding: 20px;
}

.at-Call-right .at-Call-right-inside h2 {
    color: #ffffff;
    font-size: 24px;
    z-index: 1;
    letter-spacing: 1px;
}

.at-Call-right .at-Call-right-inside h3 {
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 0;
    z-index: 2;
}

.at-Call-right .at-Call-right-inside h3 span {
    color: #D46A21;
    letter-spacing: 8px;
}


/*---///---///---///---///---///---///---///---///---///---
    08. PROPERTY CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-property-sec {
    padding: 100px 0 70px;
}

.at-property-img {
    position: relative;
    overflow: hidden;
}

.at-property-img .at-property-overlayer {
    position: absolute;
    bottom: -100%;
    z-index: 111;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.at-property-item:hover .at-property-img .at-property-overlayer {
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.at-property-btn {
    text-transform: uppercase;
    border: 1px solid #D46A21;
    background: transparent;
    padding: 10px 22px;
    border-radius: 0;
    position: absolute;
    top: -15%;
    left: 50%;
    z-index: 222;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.at-property-item:hover .at-property-btn {
    color: #D46A21;
    background: white;
    top: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.at-property-img h4 {
    color: #ffffff;
    font-weight: 600;
    padding: 5px 10px;
    margin-bottom: 0;
    background: #D46A21;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.at-property-item:hover .at-property-img h4 {
    left: -110px;
    opacity: 0;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}

.at-property-img h5 {
    color: #ffffff;
    font-weight: 600;
    padding: 5px 10px;
    margin-bottom: 0;
    background: #D46A21;
    position: absolute;
    left: 0;
    top: 35px;
    opacity: 1;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.at-property-item:hover .at-property-img h5 {
    left: -110px;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.at-property-dis {
    padding: 10px 20px;
    background: rgb(255, 255, 255);
    border-bottom: rgb(224, 224, 224) 0.3px solid;
}

.at-property-dis ul li {
    display: inline-block;
    color: #D46A21;
    margin-right: 20px;
}


/*.at-property-dis li + li {
    margin-left: 12%;
}*/

.at-property-dis ul li i {
    margin-right: 5px;
    color: #1B6775;
}

.at-property-location {
    background: rgb(255, 255, 255);
    padding: 30px 20px;
    /* border-left: #D46A21 0.3px solid;
    border-right: #D46A21 0.3px solid;
    border-bottom: #D46A21 0.3px solid; */
}

.at-property-location h4 i {
    margin-right: 5px;
    color: #1B6775;
}

.at-property-location h4 a {
    color: #D46A21;
}

.at-property-location p i {
    margin-right: 5px;
    color: #1B6775;
}

.at-property-location p {
    text-transform: capitalize;
    color: #D46A21;
}

.at-property-location h4 {
    font-size: 18px;
}

.at-property-sec .hvr-bounce-to-right {
    margin-top: 30px;
    margin-bottom: 30px;
}

.at-bg-black {
    background: #1B6775 !important;
}


/*********** Property right sidebar start **********/

.at-property-right-sidebar {}

.at-pagination .pagination {
    margin-bottom: 0;
}

.at-pagination-right {
    text-align: right !important;
}

.at-pagination-left {
    text-align: left !important;
}


/* Sidebar start */

.at-sidebar {
    margin-bottom: 30px;
}

.at-sedebar-title {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E6E6E6;
}

.at-sidebar-search {
    margin-bottom: 50px;
}

.at-sidebar-search .form-control {
    background: #f2f2f2;
    border: none;
    height: 50px;
    box-shadow: none;
    font-size: 14px;
    text-transform: uppercase;
}

.at-sidebar-search .input-group-btn .btn {
    border-radius: 0;
    height: 50px;
    width: 60px;
    background: #D46A21;
}

.at-sidebar-search .input-group-btn .btn i {
    font-size: 28px;
    color: #ffffff;
}

.at-sidebar-search .input-group-btn .btn:hover {
    background: #BF864F;
}

.at-categories {
    margin-bottom: 50px;
}

.at-categories ul li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #E6E6E6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-categories ul li:last-child {
    border-bottom: none;
}

.at-categories ul li:hover {
    border-color: #D46A21;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-categories ul li a {
    color: #676767;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-categories ul li:hover a {
    color: #D46A21;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-categories ul li:hover span {
    color: #D46A21;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-latest-news {
    margin-bottom: 50px;
}

.at-latest-news ul li {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 20px;
    padding-bottom: 20px
}

.at-latest-news ul li:last-child {
    border-bottom: none;
}

.at-news-item {
    position: relative;
    padding-left: 100px;
}

.at-news-item img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
}

.at-news-item h4 {
    margin-bottom: 5px;
}

.at-news-item h4 a {
    color: #D46A21;
    font-size: 15px;
}

.at-sidebar-tags {
    margin-bottom: 50px;
}

.at-sidebar-tags a {
    padding: 10px 18px;
    background: transparent;
    border: 1px solid #E6E6E6;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    text-transform: uppercase;
    color: #676767;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-sidebar-tags a:hover {
    border-color: #D46A21;
    background: #D46A21;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-preview {
    margin-bottom: 50px;
}


/*********** Property Details start **********/

.at-property-details-col {
    margin-bottom: 30px;
}

.at-property-details-col .nav>li>a {
    padding: 3px;
    border-radius: 0;
}

.at-property-details-col #myCarousel {
    margin-bottom: 30px;
}

.at-property-details-col .nav-pills>li.active>a {
    background: #D46A21;
}

.at-property-details-col .carousel-inner .item .carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(27, 103, 117, 0.8);
    padding-top: 10px;
    padding-bottom: 0;
    width: 100%;
    height: 50px;
}

.at-property-details-col .carousel-inner .item .carousel-caption h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 0;
}

.at-property-details-col .at-sec-title {
    margin-top: 50px;
    margin-bottom: 30px;
}

.at-property-details-col .at-property-features ul li {
    border-bottom: 1px solid #E6E6E6;
    background: #F2F2F2;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 20px;
}

.at-property-details-col .at-property-features ul li:before {
    content: "\f101";
    font-family: FontAwesome;
    margin: 10px;
}

.at-property-details-col .at-property-features ul li span {
    color: #D46A21;
}

.at-comment-row {
    margin-top: 60px;
    margin-bottom: 60px;
}

.at-comment-row h3 {
    margin-bottom: 50px;
}

.at-comment-row h3 a {
    font-size: 18px;
    color: #1B6775;
    font-family: 'Open Sans', sans-serif;
}

.at-comment-item {
    margin-bottom: 50px;
    position: relative;
    padding-left: 90px;
}

.at-comment-item img {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
}

.at-comment-item h5 {
    font-size: 12px;
    margin-bottom: 0;
}

.at-comment-item a i {
    color: #D46A21;
}

.at-form-area .hvr-bounce-to-right {
    margin-top: 0;
    margin-bottom: 30px;
}

.at-property-details-col .carousel {
    margin-bottom: 40px;
}

.at-property-details-col .carousel ul {
    text-align: center;
    margin-top: 5px;
}

.at-property-details-col .carousel ul li {
    width: 24.3%;
    margin-right: 0;
    margin: 0 2px;
    display: inline-block;
    border: 2px solid #D46A21;
}

.at-property-details-col .nav-pills>li.active>a {
    background: transparent;
}

.at-property-details-col .nav>li>a {
    padding: 0;
}

.at-property-details-col .carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(27, 103, 117, 0.8);
    padding-top: 10px;
    padding-bottom: 0;
    width: 100%;
    height: 50px;
}

.at-property-details-col .carousel-caption h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 0;
}


/*---///---///---///---///---///---///---///---///---///---
    09. AGENTS CSS START
---///---///---///---///---///---///---///---///---///---*/


/*---///---///---///---///---///---///---///---///---///---
    10. BLOG CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-blog-sec {
    padding: 100px 0 70px;
}

.at-blog-column {
    position: relative;
}

.at-blog-sec .at-blog-box {
    background: #f2f2f2;
    border-top: 5px solid #1B6775;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-blog-sec .at-blog-box:hover {
    border-color: #D46A21;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-blog-sec .at-blog-box .at-blog-img {
    position: relative;
    overflow: hidden;
}

.at-blog-sec .at-blog-box .at-blog-img img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.at-blog-sec .at-blog-box:hover .at-blog-img img {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari */
    transform: scale(1.1);
    /* Standard syntax */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.at-blog-sec .at-blog-box .at-blog-img .at-blog-date {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background: rgb(27, 103, 117, 0.9)
}

.at-blog-sec .at-blog-box .at-blog-img .at-blog-date ul li {
    float: left;
    margin-right: 20px;
}

.at-blog-sec .at-blog-box .at-blog-img .at-blog-date ul li i {
    margin-right: 5px;
    color: #D46A21;
}

.at-blog-sec .at-blog-box .at-blog-img .at-blog-date ul li a {
    color: #ffffff;
}

.at-blog-sec .at-blog-content {
    padding: 30px 20px 30px 20px
}

.at-blog-sec .at-blog-content h4 a {
    color: #1B6775;
    text-transform: uppercase;
}

.at-blog-sec .at-blog-content h4 a:hover {
    color: #D46A21;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-blog-sec .at-blog-content p {
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-blog-sec .at-blog-content a {
    font-size: 16px;
    color: #D46A21;
    text-transform: capitalize;
}

.at-blog-sec .at-blog-content a i {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-blog-sec .at-blog-content a:hover i {
    margin-left: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* Blog details css start */

.at-blog-details-sec {}

.at-blog-details-sec .at-blog-big-img {
    margin-bottom: 30px;
}

.at-blog-details-sec .at-blog-box {
    background: transparent;
}

.at-blog-details-sec .at-blog-box h4 a {
    color: #1B6775;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-blog-details-sec .at-blog-box h4 a:hover {
    color: #D46A21;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-blog-details-sec .at-blog-box p {
    margin-bottom: 30px;
}

.at-blog-details-sec .at-comment-row {
    margin-top: 30px;
}


/*---///---///---///---///---///---///---///---///---///---
    11. NEWSLETTER CSS START


/*.at-newsletter-sec .at-sub-btn a:hover {
    background: #BF864F;
}*/


/*---///---///---///---///---///---///---///---///---///---
    12. BRAND CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-brand-sec {
    padding: 50px 0;
}

.at-brand-sec .brand-carousel .slick-slide {
    padding-left: 15px;
    padding-right: 15px;
}


/*---///---///---///---///---///---///---///---///---///---
    13. INNER HEADING CSS START
---///---///---///---///---///---///---///---///---///---*/

#at-inner-title-sec {
    padding: 0 0 50px;
    background: #F2F2F2;
    background-size: cover;
    background-position: center;
}

#at-inner-title-sec .at-inner-title-box {
    background: rgb(27, 103, 117, 0.8);
    border: 5px solid rgb(27, 103, 117, 0.2);
    border-top: none;
    padding: 30px 20px;
}

#at-inner-title-sec .at-inner-title-box h2 {
    color: #D46A21;
    font-size: 48px;
}

#at-inner-title-sec .at-inner-title-box p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

#at-inner-title-sec .at-inner-title-box p a {
    color: #ffffff;
}

#at-inner-title-sec .at-inner-title-box p a:hover {
    color: #D46A21;
}


/*---///---///---///---///---///---///---///---///---///---
    14. PLAN CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-plan-sec {
    padding: 100px 0 70px;
}

.at-plan-box ul li {
    margin-bottom: 10px;
}

.at-plan-box ul li:before {
    content: "\f101";
    font-family: FontAwesome;
    margin: 10px;
}


/*---///---///---///---///---///---///---///---///---///---
    15. TESTIMONIAL CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-testimonial-sec {
    padding: 140px 0 20px;
}

.at-testimonial-sec .at-single-testimonial {
    margin-bottom: 80px;
    background: #F2F2F2;
    padding: 60px 30px 30px 30px;
    position: relative;
}

.at-single-testimonial .at-test-person {
    position: absolute;
    left: 30px;
    top: -40px;
}

.at-single-testimonial .at-test-person img {
    width: 80px;
    height: 80px;
    border: 3px solid #F2F2F2;
}

.at-single-testimonial i {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 50px;
    opacity: .1;
}

.at-single-testimonial p {
    z-index: 99;
}


/*---///---///---///---///---///---///---///---///---///---
    16. SERVICE CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-service-sec {
    padding: 100px 0px 50px;
}

.at-service-content {
    margin-bottom: 50px
}

.at-service-content h2 {
    margin-bottom: 20px;
    line-height: 1.3;
}

.at-service-content h2 span {
    color: #D46A21;
}

.at-service-item {
    margin-bottom: 50px;
    padding: 0 20px;
    position: relative;
    text-align: center;
}

.at-service-icon {
    width: 70px;
    height: 70px;
    margin: auto;
    text-align: center;
    border: 2px solid #1B6775;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.at-service-item:hover .at-service-icon {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    border-right: 2px solid #D46A21;
    border-left: 2px solid #D46A21;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.at-service-icon i {
    color: #D46A21;
    font-size: 40px;
    line-height: 70px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.at-service-item:hover .at-service-icon i {
    color: #1B6775;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


/*---///---///---///---///---///---///---///---///---///---
    17. ACCOUNT CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-account-sec {
    padding: 100px 0;
}

.at-account-sec .nav-tabs>li.active>a,
.at-account-sec .nav-tabs>li.active>a:focus,
.at-account-sec .nav-tabs>li.active>a:hover {
    color: #ffffff;
    background: #D46A21;
    border: none;
}

.at-account-sec .nav-tabs>li>a {
    border-radius: 0;
    padding: 10px 50px;
    font-size: 18px;
    background: #1B6775;
    color: #ffffff;
    border: none;
    margin: 0;
}

.at-account-sec .nav-tabs>li,
.at-account-sec .nav-pills>li {
    float: none;
    display: inline-block;
    zoom: 1;
}

.at-account-sec .nav-tabs,
.at-account-sec .nav-pills {
    text-align: center;
    border-bottom: none;
}

.at-account-sec .tab-content {
    padding: 30px;
    background: #F2F2F2;
}

.at-account-sec .tab-content .form-control {
    height: 45px;
}

.at-account-sec .checkbox {
    margin-bottom: 30px;
}

.at-account-sec .checkbox p a {
    color: #D46A21;
}

.at-account-sec .nav-tabs .nav-link.active {
    background: #D46A21;
    color: #ffffff;
}


/*---///---///---///---///---///---///---///---///---///---
    18. FAQ CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-faq-sec {
    padding: 100px 0;
}

.at-faq-sec .panel-group .panel {
    border-radius: 0;
}

.at-faq-sec .panel-heading {
    border-radius: 0;
}

.at-faq-sec img {
    margin-bottom: 30px;
}

.bs-example {
    margin: 0;
}

.accordion .fa {
    margin-right: 0.5rem;
}

.at-faq-sec .card-header {
    padding: 0 15px;
}

.at-faq-sec .card-header h2 .btn {
    font-size: 16px;
    color: inherit;
    margin-bottom: 0;
    font-weight: bold;
}

.at-faq-sec .card {
    border-radius: 0;
}

.at-faq-sec .card-header:first-child {
    border-radius: 0;
}


/*---///---///---///---///---///---///---///---///---///---
    19. ERROR CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-error-sec {
    padding: 150px 0;
    background: url(../images/background/error.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.at-error-sec h1 {
    font-size: 100px;
}

.at-error-sec h2 {
    font-size: 26px;
    margin-bottom: 50px;
}

.at-error-sec a {
    font-size: 24px;
    font-weight: bold;
    color: #D46A21;
    border-bottom: 2px solid #1B6775;
}


/*---///---///---///---///---///---///---///---///---///---
    20. CONTACT CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-contact-sec {
    padding: 100px 0 70px;
}

.at-contact-form .form-control {
    height:
}

.at-info-box {
    border: 1px solid #eeeeee;
    padding: 30px 20px;
}

.at-info-box i {
    font-size: 18px;
}


/*---///---///---///---///---///---///---///---///---///---
    21. MAIN FOOTER CSS START
---///---///---///---///---///---///---///---///---///---*/

.at-main-footer {
    padding: 60px 0 30px;
    background: url(https://images.marketleader.com/houseimages/SCRANTON/506/f_19-4506.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.at-main-footer.at-over-layer-black:before {
    background-color: rgb(27, 103, 117, 0.95);
}

.at-main-footer .at-footer-logo img {
    width: 220px;
    height: 60px;
}

.at-main-footer h4 {
    font-size: 24px;
    color: #D46A21;
    text-transform: uppercase;
}

.at-main-footer .at-heading-under-line {
    width: 100px;
    height: 1px;
    background-color: #ffffff;
    position: relative;
    margin: 0;
    margin-bottom: 40px;
}

.at-main-footer .at-heading-under-line .at-heading-inside-line {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: -2px;
    margin-left: 0;
}

.at-footer-about-col p {
    color: #dedede;
    border-top: 1px solid #ffffff;
    padding-top: 20px;
    margin-top: -10px;
}

.at-footer-about-col .at-social {
    margin-top: 30px;
}

.at-footer-link-col ul li {
    border-bottom: 1px solid #1B6775;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-footer-link-col ul li:hover {
    border-bottom: 1px solid #D46A21;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-footer-link-col ul li:last-child {
    border-bottom: none;
}

.at-footer-link-col ul li a {
    color: #999999;
    line-height: 48px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-footer-link-col ul li a:hover {
    color: #D46A21;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.at-footer-gallery-col .at-gallery ul li {
    float: left;
}

.at-footer-gallery-col .at-gallery ul li img {
    width: 118px;
    height: auto;
}

.at-footer-gallery-col .thumbnail {
    padding: 0;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.at-footer-Tag-col a {
    float: left;
    border: 1px solid #1B6775;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #999999;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.at-footer-Tag-col a:hover {
    border-color: #D46A21;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.at-footer-Tag-col .hvr-bounce-to-right {
    padding: 12px 30px;
    background: transparent;
}

.at-footer-Tag-col .hvr-bounce-to-right:before {
    background: #D46A21;
}


/* COPY RIGHT CSS START */

.at-copyright {
    padding: 20px 0;
    background-color: #1B6775;
    text-align: center;
}

.at-copyright p {
    color: #ffffff;
}

.at-copyright p a {
    color: #D46A21;
}